// Button styling

// BAse button

@mixin arrow-button($background-color) {
    .base-button {
      display: inline-block;
      position: relative;
      width: 208px;
      height: 56px;
      background-color: $background-color;
      text-align: center;
      line-height: 56px;
      color: white;
      text-decoration: none;
      border-radius: 20px;
      overflow: hidden;
    }
  
    .base-button::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 16px 16px 0;
      border-color: transparent $background-color transparent transparent;
    }
  
    .arrow-icon {
      position: absolute;
      top: 20%;
      right: 8px;
      transform: translateY(0%) rotate(-45deg); /* Angle the arrow */
      color: black; /* Arrow color */
    }
  }
  
  
  