.jumbo {
    background-color: $color-theme-primary;
    padding-top: 6rem;
    position: relative;

    .container {
        & > .jumbotron {
            display: flex;
            flex-direction: column;

            @include lg {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }

            .jumbo-text {
                @include lg {
                    width: 60%;
                    display: flex;
                    flex-direction: column;
                }

                .jumbo-header {
                    @include lg {
                        & > h2 {
                            font-size: 96px;
                        }
                    }
                }

                .jumbo-breadtext {
               
                }

                .jumbo-buttons {
                  
                    @include arrow-button($color-theme-secondary-highlight);
                    
                }
            }

            .jumpoProf {
                & > img {
                    width: 100%;
                }
            }
        }
    }
}
