.MeetOurTeam {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 0;
    margin-top: 3rem;
    background-color: $color-theme-secondary-highlight;

    & > .container{
        h3 {
            text-align: left;
            color: $font-color-secondary;
        }
    
        .browse-Team {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            
            @include arrow-button($color-theme-secondary-highlight);
            

            span {
                flex: 1;
                text-align: left;
                font-size: 45px;
                font-weight: $font-weight-bold;
                font-family: $font-Sans;

            }
    
            .base-button {
                flex: 1;
                
            }
        }
    
        .team-cards {
            display: flex;
            flex-direction: column;
            gap: 20px;
            flex-wrap: wrap;
            @include lg{
                flex-direction: row
            }
    
            .team-card {
                flex: 1;
                background-color: $color-theme-secondary-highlight;
                padding: 20px;
                width: calc(25% - 20px);
                text-align: center;
                width: 100%;

                @include lg{
                    text-align: left;
                }
    
                img {
                    max-width: 100%;
                    height: auto;
                }
    
                h4 {
                    margin-top: 15px;
                }
    
                p {
                    margin-top: 5px;
                }
            }
        }
    }
}
