/* Header Styles */
.header {
    background-color: $color-theme-primary;
    color: #fff;
    padding: 10px;
    text-align: center;

    /* Header container */
    & > .container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        align-items: center;
        gap: 20px;
        margin: 0 auto;
        color: $font-color-primary;
        font-family: $font-Inter;

        

        /* Logo section */
        .logo {
            display: flex;
            justify-content: center;
            align-items: center;
            grid-column: span 1; /* Occupies 2 columns */

            .logo img {
                max-width: 100%;
                height: auto;
            }
        }

        /* Empty column */
        .empty-column {
            grid-column: 3; /* Occupies 1 column */
        }

        /* Link section (nav icons and login button) */
        .link-section {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            grid-column: 5; /* Occupies 1 column */

            /* Navigation icons */
            .nav-icons {
                display: flex;
                gap: 10px;

                a {
                    color: $font-color-primary;
                    text-decoration: none;
                }
            }

            /* Login button */
            .login {
                button {
                    background-color: $color-theme-secondary-highlight;
                    width: 122px;
                    height: 48;
                    border: none;
                    padding: 5px 5px;
                    cursor: pointer;
                    border-radius: 25px;
                    color: black;
                }
            }
        }
    }
}
