.slider {
    & > .container {
        margin-top: 4rem;
        margin-bottom: 4rem;

        .image-slider {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            & > img {
               
            }

            @include xl {
                display: flex;
                justify-content: space-between;
                flex-direction: row;

                & > img {
                  
                }
            }
        }
    }
}
